timm
scikit-learn
matplotlib
tensorboard
numpy<2
pandas
scipy
seaborn
tqdm
segyio
numba
scikit-image
ipywidgets
jupyter_rfb
h5py
xgboost
plotly
pillow
umap-learn
opencv-python-headless==4.5.5.64
vispy
PyQt5
glfw
PyOpenGL
einops
ruff
cryptography
optuna
deepwave
hydra-core
omegaconf
nptdms
watchdog
websockets
fastapi
scikit-fmm
monai
seisai-transforms @ git+https://github.com/ozw4/seisai.git@chore/monorepo-workspace_noisedataset#subdirectory=packages/seisai-transforms
seisai-dataset   @ git+https://github.com/ozw4/seisai.git@chore/monorepo-workspace_noisedataset#subdirectory=packages/seisai-dataset
seisai-pick   @ git+https://github.com/ozw4/seisai.git@chore/monorepo-workspace_noisedataset#subdirectory=packages/seisai-pick
seisai-engine   @ git+https://github.com/ozw4/seisai.git@chore/monorepo-workspace_noisedataset#subdirectory=packages/seisai-engine
seisai-models   @ git+https://github.com/ozw4/seisai.git@chore/monorepo-workspace_noisedataset#subdirectory=packages/seisai-models
